@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary: red;
    --dark: black;
    --light: white;
    --font: 'Roboto', sans-serif;
    --card: rgb(32, 30, 30);
    --shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body {
    background-color: var(--dark);
    font-family: var(--font);
    color: var(--light);
}

